html, body {
    
    font-family: 'Arial';
    text-align: center;
}

h1{
    text-align: center;
    font-size: 25px;
}

.screen{
    display: block;
    margin: 50px auto;
    width: 50%;
    user-select: none;
}

.plac{
    display: inline-block;
    margin-top: 60px;
    font-size: 13px;
   margin: 2px 0px;
   width: 45px;
   height: 45px;
   background-color:  #686868;
    border-radius: 50%;
    border: 0;
    
    
    transition: 200ms;
    
    
   color: #fff;
}

.disabled {
    pointer-events: none;
    background-color: #686868;
    
    opacity: 0.65;
    user-select: none;
  }

span{
    position: relative;
    top: 14px;
}


.place{
    display: inline-block;
    margin-top: 60px;
    font-size: 14px;
   margin: 2px 0;
   width: 45px;
   height: 45px;
   background-color:  #4ea72b;
    border-radius: 50%;
    border: 0;
    
    cursor: pointer;
    transition: 200ms;
    
    
   color: #fff;
}







.active{
    background-color: #3c77ff;
    
    
}



.bt{
    background-color: #3c77ff;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px; 
    border: 5px solid #3c77ff;
}

.bt:hover{
    background-color: rgb(29, 79, 195);
    border: 5px solid rgb(29, 79, 195);
}

.bt:active{
    background-color: #4b72cd;
    border: 5px solid #4b72cd;
}

.btn{
    background-color: #3c77ff;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px; 
    border: 5px solid #3c77ff;  
}
.btn:hover {
    background-color: rgb(29, 79, 195);
    border: 5px solid rgb(29, 79, 195);
}

.btn:active {
    background-color: #4b72cd;
    border: 5px solid #4b72cd;
}

.placest{
    display: inline-block;
    margin-top: 60px;
    font-size: 14px;
   margin: 2px 0px;
   width: 45px;
   height: 45px;
   background-color:  #686868;
    border-radius: 50%;
    border: 0;
    
    
    transition: 200ms;
    
    
   color: #fff;
}

.placet{
    display: inline-block;
    margin-top: 60px;
    font-size: 14px;
   margin: 2px 0px;
   width: 45px;
   height: 45px;
   background-color:  #3c77ff;
    border-radius: 50%;
    border: 0;
    
    
    transition: 200ms;
    
    
   color: #fff;
}



.te{
    position: relative;
    top: -1px;
}

@media (min-width: 768px) and (max-width: 1200px) and (hover: hover) {
    h1 {
            text-align: center;
            font-size: 25px;
    
        }
        
    
        p {
            font-size: 18px;
        }
        
         .btn:hover {
             background-color: rgb(29, 79, 195);
             border: 5px solid rgb(29, 79, 195);
         }
    
         .btn:active {
             background-color: #4b72cd;
             border: 5px solid #4b72cd;
         }
        .screen {
            display: block;
            margin: 50px auto;
            width: 70%;
            user-select: none;
        }
    
        .plac {
            display: inline-block;
            margin-top: 60px;
            font-size: 13px;
            margin: 2px 0px;
            width: 44px;
            height: 44px;
            background-color: #686868;
            border-radius: 50%;
            border: 0;
    
    
            transition: 200ms;
    
    
            color: #fff;
        }
    
    
    
    
        .place {
            display: inline-block;
            margin-top: 60px;
            font-size: 14px;
            margin: 2px 0;
            width: 44px;
            height: 44px;
            background-color: #4ea72b;
            border-radius: 50%;
            border: 0;
    
            cursor: pointer;
            transition: 200ms;
    
    
            color: #fff;
        }
    
    
    
    
    
    
    
    
    
    
    
        .placest {
            display: inline-block;
            margin-top: 60px;
            font-size: 14px;
            margin: 2px 0px;
            width: 44px;
            height: 44px;
            background-color: #686868;
            border-radius: 50%;
            border: 0;
    
    
            transition: 200ms;
    
    
            color: #fff;
        }
    
        .placet {
            display: inline-block;
            margin-top: 60px;
            font-size: 14px;
            margin: 2px 0px;
            width: 44px;
            height: 44px;
            background-color: #3c77ff;
            border-radius: 50%;
            border: 0;
    
    
            transition: 200ms;
    
    
            color: #fff;
        }
    }

@media (max-width: 767px) and (hover: hover) {

        h1 {
            text-align: center;
            font-size: 14px;
    
        }

        p{
            font-size: 14px;
        }
    
        .screen {
            display: block;
            margin: 50px auto;
            width: 90%;
            user-select: none;
        }
    
        .plac {
            display: inline-block;
            margin-top: 60px;
            font-size: 13px;
            margin: 2px 0px;
            width: 43px;
            height: 43px;
            background-color: #686868;
            border-radius: 50%;
            border: 0;
    
    
            transition: 200ms;
    
    
            color: #fff;
        }
    
       
    
    
        .place {
            display: inline-block;
            margin-top: 60px;
            font-size: 14px;
            margin: 2px 0;
            width: 43px;
            height: 43px;
            background-color: #4ea72b;
            border-radius: 50%;
            border: 0;
    
            cursor: pointer;
            transition: 200ms;
    
    
            color: #fff;
        }
    
    
    
    
    
    
    
    
    
    
      
        .placest {
            display: inline-block;
            margin-top: 60px;
            font-size: 14px;
            margin: 2px 0px;
            width: 43px;
            height: 43px;
            background-color: #686868;
            border-radius: 50%;
            border: 0;
    
    
            transition: 200ms;
    
    
            color: #fff;
        }
    
        .placet {
            display: inline-block;
            margin-top: 60px;
            font-size: 14px;
            margin: 2px 0px;
            width: 43px;
            height: 43px;
            background-color: #3c77ff;
            border-radius: 50%;
            border: 0;
    
    
            transition: 200ms;
    
    
            color: #fff;
        }
    
    
    .btn:hover {
    background-color: rgb(29, 79, 195);
    border: 5px solid rgb(29, 79, 195);
}

.btn:active {
    background-color: #4b72cd;
    border: 5px solid #4b72cd;
}
       
}